<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<style>
    .form-check-input-reverse{
        margin-left: 10px;
       }
</style>

</head>
<nav class="navbar navbar-expand-lg" style="background-color: #03b0df;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Pheflux</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:8000/pheflux/">Predict</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Search
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="http://127.0.0.1:8000/pheflux/biggsearch">Bigg Model</a></li>
              <li><a class="dropdown-item" href="http://127.0.0.1:8000/pheflux/tcgasearch">TCGA</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {% block content %}
    {% endblock %}
</html>