{% extends 'base.html' %}
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>


{% block content %}
<div class ="text-center">
<h2 class="text-primary">Formulario Pheflux</h2>
{% if formPheflux %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}  
    <div class="form-group mt-5 mb-2">
      <label for="{{ formPheflux.organism.id_for_label }}">{{ formPheflux.organism.label }}</label>
      {{ formPheflux.organism }}
    </div>
    <div class="form-group mb-2">
      <label for="{{ formPheflux.condition.id_for_label }}">{{ formPheflux.condition.label }}</label>
      {{ formPheflux.condition }}
    </div>
    <div class="form-group mb-2">
      <label for="{{ formPheflux.geneExp_file.id_for_label }}">{{ formPheflux.geneExp_file.label }}</label>
      {{ formPheflux.geneExp_file }}
    </div>
    <div class="form-group mb-2">
      <label for="{{ formPheflux.medium_file.id_for_label }}">{{ formPheflux.medium_file.label }}</label>
      {{ formPheflux.medium_file }}
    </div>
    <div class="form-group mb-2">
      <label for="{{ formPheflux.network_file.id_for_label }}">{{ formPheflux.network_file.label }}</label>
      {{ formPheflux.network_file }}
    </div>
    <div class="form-group mb-2">
      <div class="form-check">
        {{ formPheflux.verbosity }}
        <label class="form-check-label" for="{{ formPheflux.verbosity.id_for_label }}">{{ formPheflux.verbosity.label }}</label>
      </div>
    </div>
    <div class="form-group mb-2">
      <label for="{{ formPheflux.prefix_log_file.id_for_label }}">{{ formPheflux.prefix_log_file.label }}</label>
      {{ formPheflux.prefix_log_file }}
    </div>
    <input type="hidden" name="form_type" value="formPheflux">
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endif %}
</div>
{% endblock %}