{% extends 'base.html' %}

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/4.1.0/spin.min.js"></script>
<style>
  body, html {
    height: 100%;
    margin: 0;
  }

  #loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
    visibility: hidden;
  }

  #loading-spinner.active {
    visibility: visible;
  }

  /* Estilo para el checkbox */
  .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #007bff; /* Cambia el color de fondo al azul predeterminado de Bootstrap */
    border-color: #007bff; /* Cambia el borde al color de fondo */
  }

  /* Cambia el color del texto de la etiqueta cuando el checkbox está marcado */
  .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    color: #fff; /* Cambia el color del texto a blanco cuando está marcado */
  }

  .form-check .form-check-input {
  
}

</style>



</head>


{% block content %}
<div class ="container text-center w-50 rounded mt-5 pb-1 border border-secondary " style="background-color: #f6f6f6;">
<h2 class="">Pheflux</h2>
{% if formPheflux %}
<form id="procesar-form" method="post" enctype="multipart/form-data" onsubmit="event.preventDefault();">
  {% csrf_token %}
  <div class="form-group row mt-3">
    <label for="{{ formPheflux.organism.id_for_label }}" class="col-md-4 col-form-label text-md-right">Organism</label>
    <div class="col-md-8">
      {{ formPheflux.organism }}
    </div>
  </div>
  <div class="form-group row mt-3">
    <label for="{{ formPheflux.condition.id_for_label }}" class="col-md-4 col-form-label text-md-right">Condition</label>
    <div class="col-md-8">
      {{ formPheflux.condition }}
    </div>
  </div>
  <div class="form-group row mt-3">
    <label for="{{ formPheflux.geneExp_file.id_for_label }}" class="col-md-4 col-form-label text-md-right">GeneExp File</label>
    <div class="col-md-8">
      {{ formPheflux.geneExp_file }}
    </div>
  </div>
  <div class="form-group row mt-3">
    <label for "{{ formPheflux.medium_file.id_for_label }}" class="col-md-4 col-form-label text-md-right">Medium File</label>
    <div class="col-md-8">
      {{ formPheflux.medium_file }}
    </div>
  </div>
  <div class="form-group row mt-3">
    <label for="{{ formPheflux.network_file.id_for_label }}" class="col-md-4 col-form-label text-md-right">Network File</label>
    <div class="col-md-8">
      {{ formPheflux.network_file }}
    </div>
  </div>
  <div class="form-group row mt-3">
    <label for="{{ formPheflux.prefix_log_file.id_for_label }}" class="col-md-4 col-form-label text-md-right">Log Prefix</label>
    <div class="col-md-8">
      {{ formPheflux.prefix_log_file }}
    </div>
  </div>
  <div class="form-group row mt-3">
    <label for="{{ formPheflux.verbosity.id_for_label }}" class="col-md-4 col-form-label text-md-right">{{ formPheflux.verbosity.label }}</label>
    <div class="col-md-8 form-check" style="margin-top: 15px;">
      {{ formPheflux.verbosity }}
    </div>
  </div>
  <!-- <div class="form-group row mt-3">
    <div class="">
      <div class="form-check">
        <label class="form-check-label" for="{{ formPheflux.verbosity.id_for_label }}">{{ formPheflux.verbosity.label }}</label>
        {{ formPheflux.verbosity }}
      </div>
    </div>
  </div> -->
  <input type="hidden" name="form_type" value="formPheflux">
  <button id="submit-btn" type="submit" class="btn btn-primary mt-4">Submit</button>
</form>

{% endif %}
<div class="form-group row mt-3">
  <div class="col-md-12">
    <div class="text-center">
      <div id="loading-spinner" class="d-none">
        <div class="spinner-border pb-5" role="status" style="width: 5rem; height: 5rem;">
          <span class="sr-only"></span>
        </div>
        <br>
        <h6>We are currently processing the data. The download will start as soon as the prediction is ready.</h6>
      </div>
    </div>
  </div>
</div>

<div id="error-message" class="alert alert-danger" style="display: none;">
  <!-- Aquí se mostrará el mensaje de error -->
</div>
<div id="success-message" class="alert alert-success" style="display: none;">
  The data has been processed, the download will start shortly.
</div>





<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  // Función para mostrar el spinner
function mostrarSpinner() {
var spinner = document.getElementById("loading-spinner");
var button = document.getElementById("submit-btn");
spinner.classList.remove("d-none"); // Mostrar el spinner
button.classList.add("d-none");
}

// Función para ocultar el spinner
function ocultarSpinner() {
var spinner = document.getElementById("loading-spinner");
var button = document.getElementById("submit-btn");
spinner.classList.add("d-none"); // Ocultar el spinner
button.classList.remove("d-none");
}

// Función para enviar el formulario y mostrar el spinner
function procesarFormulario() {
  // Evitar que el formulario se envíe directamente
  event.preventDefault();

  // Mostrar el spinner antes de enviar la petición
  mostrarSpinner();

  // Obtener el formulario y los datos
  var form = document.getElementById("procesar-form");
  var formData = new FormData(form);

  // Realizar la petición AJAX al servidor Django
  fetch('/pheflux/', {
      method: 'POST',
      body: formData,
  })
  .then(function(response) {
    if (response.ok) {
      const successDiv = document.getElementById('success-message');
      successDiv.style.display = 'block';
      setTimeout(function() {
        successDiv.style.display = 'none'; // Ocultar el mensaje después de 2 segundos
      }, 6000); // 2000 milisegundos (2 segundos)
      return response.blob(); // Convertir la respuesta a un objeto Blob
  } else {
      return response.json();
  }
  }).then(function(data) {
  if (data.error_message) {
    // Si la JsonResponse contiene un mensaje de error, mostrarlo
    mostrarError(data.error_message);
  } else {
    // Si no hay error, continuar manejando la respuesta como de costumbre
    var blobData = data; // Considerar la respuesta como Blob
    // Crear un enlace para descargar el archivo ZIP
    var url = URL.createObjectURL(blobData);
    var link = document.createElement('a');
    link.href = url;
    var organismValue = formData.get('organism'); // Obtener el valor del campo "organism" del formulario
    var conditionValue = formData.get('condition'); // Obtener el valor del campo "condition" del formulario
    var fileName = organismValue + '_' + conditionValue + '_Results.zip'; // Crear el nombre del archivo ZIP
    link.download = fileName; // Establecer el nombre del archivo ZIP
    document.body.appendChild(link);
    link.click();

    // Liberar los recursos del enlace
    URL.revokeObjectURL(url);
  }

  ocultarSpinner(); // Ocultar el spinner después de manejar la respuesta
})
.catch(function(error) {
  // Código para manejar el error (si corresponde)
  // Por ejemplo, mostrar un mensaje de error en la página
  mostrarError('Error en la respuesta del servidor');
  ocultarSpinner(); // Asegurarse de ocultar el spinner también en caso de error
}) // <- Agregar paréntesis de cierre aquí

  .catch(function(error) {
    // Código para manejar el error (si corresponde)
    // Por ejemplo, mostrar un mensaje de error en la página
    // ...
    mostrarError(error.message);
    ocultarSpinner(); // Asegurarse de ocultar el spinner también en caso de error
  });
}


// Asignar la función procesarFormulario() al evento onsubmit del formulario
document.getElementById("procesar-form").addEventListener("submit", procesarFormulario);

function mostrarError(message) {
    console.log('Mostrando error', message);
    const errorDiv = document.getElementById('error-message');
    errorDiv.textContent = message;
    errorDiv.style.display = 'block';

    // Programar la ocultación del mensaje después de 6 segundos (6000 milisegundos)
    setTimeout(function () {
        errorDiv.style.display = 'none'; // Ocultar el mensaje
    }, 6000);
}

// Función para ocultar el mensaje de error
function ocultarError() {
    const errorDiv = document.getElementById('error-message');
    errorDiv.textContent = '';
    errorDiv.style.display = 'none';
}
</script>

{% endblock %}
